*-decl-list.txt
*-decl.txt
*-overrides.txt
*-undocumented.txt
*.args.new
*.signals.new
*-unused.txt
*-undeclared.txt
*-scan.c
html
html-build.stamp
html.stamp
scan-build.stamp
sgml-build.stamp
sgml.stamp
tmpl
tmpl-build.stamp
tmpl.stamp
xml
inspect-registry.*
*.bak
generateDoc.sh
*~
